body {
    background-color: #333;
}

.container-fluid {
    padding: 0;
    
}


.carousel-inner {  
    background-repeat: none;
    text-align: center;
}

.carousel-item h1 {
    position: absolute;
    color: aliceblue;
    font-size: 30pt;
    margin-right: -50%;
    padding: 40px;
    text-align: center;
    margin: 0 auto;
}

.d-block.img-fluid {
    vertical-align: middle;
}

.jumbotron {
    text-align: center;
    background-color: #333;
}

.jumbotron h1 {
    color: aliceblue
}

.jumbotron p {
    font-weight: 100;
    color: #999;
}

/* Small devices (landscape phones, 576px and up) */


@media (max-width: 576px) {
    .carousel-indicators {
        height: 550px;
    }

    .carousel-item h1 {
        
        font-size: 20pt;
    }
}

@media (max-width: 768px) {

    .carousel-item h1 {
        font-size: 24pt;
    }
    
}