body {
    background-color: #333;
}

.container-fluid {
    padding: 0;
}

.carousel-inner {  
    background-repeat: none;
    height: 550px;
}

.d-block.img-fluid {
    vertical-align: middle;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .carousel-indicators {
        display: none;
        height: 550px;
    }
}

@media (max-width: 768px) {
    
}